.reasons__heading {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    color: #353F47;
    max-width: 300px;
    position: relative;
    margin-right: 117px;
}

.reasons__heading::before {
    content: '';
    position: absolute;
    top: -10px;
    background-image: url('../../../images/heading_decor.svg');
    width: 84px;
    height: 3px;
}

@media screen and (max-width: 1190px) {
    .reasons__heading {
        font-size: 24px;
        max-width: 380px;
        text-align: center;
        margin-right: 0;
        margin-top: 0;
    }
    .reasons__heading::before {
        content: '';
        position: absolute;
        top: -10px;
        background-image:none;
        width: 84px;
        height: 3px;
    }
}

@media screen and (max-width: 768px) {
    .reasons__heading {
        font-size: 20px;
    }
 
}